---
title: Index Page
---
extends layouts/_layout
block content
  
  include home/intro

  include home/info

  include home/advantages

  include home/services

  include home/call

  include home/form