.footer
  .container
    .row
      .col-sm-6.col-xs-12
        .footer__info
          h2 chekhovsport.uz
          p Часы работы клубов: Будни с 7:00 до 23:00
          p В выходные и официальные праздники: с 9:00 до 22:00<br> 
          a(href="mailto:info@chekhovsport.uz") E-mail: info@chekhovsport.uz
        .footer__social
          .footer__social__block Мы в социальных сетях
          .flex
            a(href="#").icon.icon-facebook
            a(href="#").icon.icon-instagram
            a(href="#").icon.icon-telegram
      .col-sm-6.col-xs-12
        .footer__form
          h2 Закажи звонок
          form
            input(type="text", placeholder="Ваш телефон")
            input(type="submit", value="Отправить")
          a(href="#") Политика конфиденциальности
      .col-xs-12
        hr
      .col-sm-6.col-xs-12
        .footer__contact
          p Ташкент, Адрес ул А.Темура, 60.
          a(href="tel: (+99) 884 77 88")
            i.icon.icon-phone
            | (+99) 884 77 88
      .col-sm-6.col-xs-12
        .footer__made
          a(href="#") Made with Love<br>gelikon managment

          