//BEGIN header
header.header
  .container
    .row.middle-xs
      .col-sm-6.col-xs-6
        .header__logo
          img(src="img/logo.png", alt="")
      .col-sm-6.col-xs-6
        a.btn.btn-header(href="tel:998847788") 
          span (99) 
          | 884 77 88
        
//END header
