section.advantages
	.advantages__block
		.advantages__1
			ul
				li Тренажерный зал
				li Зал единоборств
				li Кардио-театр
				li Зал групповых занятий
				li Зона функционального<br> тренинга
	.advantages__block
		.advantages__2.is-active
			ul
				li Персональный тренинг
				li Детский персональный<br> тренинг
				li Октагон (восьмиугольник)
				li Манекены для отработки <br>бросков
				li Кабинет Фитнесс-врача 
	.advantages__block
		.advantages__3
			ul
				li Спа Салон 
				li Фитнесс-бар
				li Просторные раздевалки<br> и душевые
				li Уютные халаты и <br>полотенца
				li Высокоскоростной Wi-Fi
	.advantages__line
		div
		hr
