.form#form
  .container
    .row
      .col-xs-12
        h2 Заказать звонок 
      .col-sm-6.end-sm.flex
        form
          input(type="text" placeholder="Ваше Имя")
          input(type="tel" placeholder="Ваш Телефон")
          textarea(placeholder="Напишите сообщение (не обязательно)")
          input(type="submit", value="Заказать")
      .col-sm-6
        .form__info
          p Точки продаж : г.Ташкент, <br>ул.Т.Шевченко-28
          h3 Адрес ул А.Темура, 60. 
          a(href="tel:(99) 884 77 88") Телефон: (99) 884 77 88
          a(href="tg://resolve?domain=998847788") Telegram: (99) 884 77 88

