section.info
	.container
		.row
			.col-xs-12
				h2 Chekhov Yulduz
				.info__place
			.col-xs-12
				.info__row
					.info__block
						.info__block__icon
							img(src="img/info-1.svg", alt="")
						p Профессиональные<br> инструкторы
					.info__block
						.info__block__icon
							img(src="img/info-2.svg", alt="")
						p Сервис высокого<br> уровня
					.info__block
						.info__block__icon
							img(src="img/info-3.svg", alt="")
						p Современное<br> оборудование 