section.intro
	.container
		.row
			.col-xs-12
				.intro__abonement
					.intro__abonement__lost
						span 76
						p Осталось<br> абонементов
					.intro__abonement__sale
						span 30%
						p Cкидка
				a.btn.btn-primary(href="#form") Заказать звонок
				.intro__info
					.intro__info__line
						div
						hr
					.intro__info__block
						h2 Самый центр города
						p Адрес : улица А.Темура, 60.<br> Ориентир: фабрика «Юлдуз»
					.intro__info__block
						h2 Корпоративные карты
						p Получите больше скидок и привилегий! Присоединяйтесь к корпоративной программе!
					.intro__info__block
						h2 Октагон
						p С подиумом для смешанных единоборств с боевой зоной 6/6 метров. Так же мешок боксерский водоналивной ( для тренировки пожилых и подростков ) 

					


