section.services
  .services__block(style="background-image: url('../img/services-1.jpg')")
    h2 Спа-салон 
    p В нашем СПА-салоне Вы сможете восстановить свои силы после тяжелых нагрузок, откорректировать свою форму с помощью специальных СПА-программ или просто привести себя в порядок, проведя у нас уникальный SPA Day на Ваш вкус.
    .services__block__hover
  .services__block(style="background-image: url('../img/services-2.jpg')")
    h2 Chekhov Kitchen
    p Уникальный сервис здорового питания. Сбросить, поддержать, набрать вес, питание для будущих мам, индивидуальные программы питания – все это Chekhov kitchen. 
    p Представьте, что высокопрофессиональные диетолог, шеф-повар и тренер одновременно взялись за ваш рацион. Ведь только такой комплексный подход сможет обеспечить Вам желаемый результат! И именно таким сервисом является Chekhov kitchen.
    .services__block__hover

